AtlasMngr/Service References/WCFProfile/ProfileService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.pin-pay.com/schemas/DTO" elementFormDefault="qualified" targetNamespace="http://www.pin-pay.com/schemas/DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Val" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultCode" nillable="true" type="tns:ResultCode" />
  <xs:complexType name="ServerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="HostName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerInfo" nillable="true" type="tns:ServerInfo" />
  <xs:complexType name="LogLevel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Val" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogLevel" nillable="true" type="tns:LogLevel" />
</xs:schema>